<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soa4id.tec.jnavarro.sportec">


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Credentials">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Credentials" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.Credentials" />
        <activity
            android:name=".UserProfileActivity"
            android:theme="@style/AppTheme.Credentials" />
        <activity
            android:name=".NewsActivity"
            android:theme="@style/AppTheme.Credentials" />
        <activity
            android:name=".ListChallengesActivity"
            android:theme="@style/AppTheme.Credentials" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.Launcher.NoActionBar"></activity>
    </application>

</manifest>